<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerSaverX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PowerSaverX.Properties.Settings>
            <setting name="ListeningInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ListeningProceeName" serializeAs="String">
                <value />
            </setting>
            <setting name="DailyPlanGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="SwitchPlanGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </PowerSaverX.Properties.Settings>
    </userSettings>
</configuration>